<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.bemyrider">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Android 33 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!--Android 33-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!--Android 33-->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <category android:name="android.intent.category.OPENABLE" />
            <data android:mimeType="*/*" />
        </intent>

        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!--<intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent>-->
    </queries>

    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <!-- Removed Facebook Metadata -->
        <!-- <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" /> -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.SplashScreenActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Removed Facebook Activities -->
        <!-- <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> -->

        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.user.StripePaymentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.TempStripe"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.MyStripeConnectActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.IntroductionActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ImagesSliderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GuestHomeActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.partner.ProviderHomeActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.user.CustomerHomeActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.user.FilterDeliveryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.InfoPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.partner.PartnerPaymentHistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" /> <!-- android.ncrypted@gmail.com(TaskGator) -->
        <activity
            android:name=".activity.user.UserProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.CustomerProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.EditProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.ProviderListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoToolBarStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.ServiceDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.BookedServiceDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.WalletActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.RedeemActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.DepositFundActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.SubCategoryActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.ServiceHistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.FavouriteServicesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.RaiseDisputeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.MessagesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.FilterProviderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.DisputeListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoToolBarStyle"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.SearchServiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/UCropTheme" />
        <activity
            android:name=".activity.SignupActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize">
            <intent-filter>
                <!-- Sets the intent action to view the activity -->
                <action android:name="android.intent.action.VIEW" />
                <!-- Allows the link to be opened from a web browser -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Allows the deep link to be used without specifying the app name -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- deeplink
                bemyrider://https://bemyrider.it/deeplink/user-activated
                -->
                <data
                    android:pathPrefix="/deeplink"
                    android:scheme="bemyrider" />
                <!--android:pathPrefix="/deeplink"-->
                <!--<data
                    android:host="demo.ncryptedprojects.com"
                    android:scheme="taskgator" />-->
                <!-- <data android:scheme="taskgator" android:host="dev.ncryptedprojects.com"/> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.partner.AddNewService_Activity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.partner.DrawerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.partner.ResolutionActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.partner.Messages_Activity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.partner.Partner_FinancialInfo_Activity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.partner.Partner_DisputeDetail_Activity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.partner.PartnerProfile_Acitvity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.partner.Partner_MyServices_Activity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.partner.Partner_ServiceRequestDetail_Tablayout_Activity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.partner.Partner_ServiceDetail_Activity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.partner.Partner_ServiceRequest_TabLayout_Activity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.partner.EditProfileActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.partner.PartnerReviewsActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.partner.PartnerServiceRequestDetailsActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.MessageDetailActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.NotificationActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.FeedbackActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.PaypalwebviewActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.PartnerProfileActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.PopularCategoryActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.UserServicesActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.AddSignatureActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.user.PaymentHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationListingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />

        <!-- <activity
            android:name="com.app.bemyrider.activity.LinkedInLoginWebViewActivity"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" /> -->
    </application>

</manifest>